
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> 404 Error: Página no encontrada</title>
  <style>
		body {font-family: Arial, sans-serif; text-align: center; padding-top: 50px;}
		h1 {font-size: 4em; margin-bottom: 20px;}
		p {font-size: 1.5em;}
	</style>
</head>
<body>
  <img mat-card-image src="https://bit.ly/40KocZt">
	<h1> 404 Error</h1>

	<p>Lo sentimos, la página que buscas no se encuentra disponible.</p>
	<p>Por favor, verifica la URL o intenta volver a la página principal.</p>

  <button mat-raised-button color="primary" (click)="goBack()"> Volver a la página principal </button>
</body>
</html>


